{% extends 'fandom/base.html' %}

{% block title %}Удаление аномалии{% endblock %}

{% block content %}
<h2>Вы уверены, что хотите удалить аномалию "{{ anomalie.name }}"?</h2>
<p>Данные будут скрыты из общего списка (soft delete).</p>
<form method="post">
    {% csrf_token %}
    <button type="submit">Да, удалить</button>
    <a href="{% url 'fandom:anomalie_list' %}">Отмена</a>
</form>
{% endblock %}

{% block actions %}
    <p><a href="{% url 'fandom:anomalie_detail' anomalie.id %}">Вернуться к деталям</a></p>
{% endblock %}